@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../fonts/Montserrat/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Thin.eot");
  src: local("Montserrat Thin"), local("Montserrat-Thin"), url("../fonts/Montserrat/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.eot");
  src: local("Montserrat ExtraLight Italic"), local("Montserrat-ExtraLightItalic"), url("../fonts/Montserrat/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraLightItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.eot");
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url("../fonts/Montserrat/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-BoldItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot");
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot");
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"), url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("../fonts/Montserrat/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-LightItalic.eot");
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url("../fonts/Montserrat/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-LightItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-BlackItalic.eot");
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"), url("../fonts/Montserrat/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-BlackItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.eot");
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Black.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"), url("Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("Montserrat-Black.woff") format("woff"), url("Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-ThinItalic.eot");
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"), url("Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("Montserrat-ThinItalic.woff") format("woff"), url("Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_control {
  margin: 0;
  width: 100%;
  height: 54px;
  outline: none;
  color: #173249;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 16px 20px;
  background: #e8edf0;
  display: inline-block;
  border: 1px solid #e8edf0;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  border-radius: 27px;
}
.form_control::-moz-placeholder {
  color: #173249;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #173249;
}
.form_control::-webkit-input-placeholder {
  color: #173249;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder {
  color: transparent;
}
.form_control.error {
  border-color: #c90000;
}

.form_group {
  margin-bottom: 10px;
}

.form_error {
  top: 100%;
  left: 0;
  right: 0;
  color: #c90000;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  position: absolute;
}

.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 20px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  background: #35ac43;
  padding: 11px 20px 9px 20px;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  color: #fff;
  background: #5aac5a;
}
.btn:focus, .btn.focus {
  outline: 0;
}
.btn:active {
  background: #35ac43;
}
@media (min-width: 992px) {
  .btn {
    font-size: 1.6rem;
    padding: 16px 24px 14px 24px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
  }
}

.btn_md {
  padding: 16px 20px 14px 20px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #173249;
  font-family: "Montserrat", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.625;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 576px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 3.2rem;
  font-family: "Montserrat", Arial, sans-serif;
}

h2, .h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 25px;
  font-family: "Montserrat", Arial, sans-serif;
}
@media (min-width: 768px) {
  h2, .h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}
@media (min-width: 992px) {
  h2, .h2 {
    font-size: 2.6rem;
    line-height: 3rem;
  }
}

h3, .h3 {
  font-size: 2.4rem;
  font-family: "Montserrat", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  font-family: "Montserrat", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "Montserrat", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "Montserrat", Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  outline: none;
  color: #35ac43;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #173249;
  text-decoration: none;
}

.header {
  padding-top: 25px;
  padding-bottom: 45px;
  background: #fff url("../img/header__bg.svg") 50% 100% no-repeat;
}
.header__logo {
  width: 50px;
}
.header__top {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__top_right {
  padding-top: 5px;
  padding-left: 30px;
}
.header__top_text {
  max-width: 240px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
}
.header__top_button {
  display: none;
}
.header__body {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header__body_image {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-order: 2;
  -ms-flex-order: 2;
  order: 2;
}
.header__body_content {
  margin-bottom: 20px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.header__body_title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.header__body_text {
  display: none;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.header__button {
  text-align: center;
}
.header__lng {
  z-index: 200;
  width: 210px;
  font-size: 0;
  display: none;
  line-height: 0;
  position: relative;
}
.header__lng_active {
  width: 100%;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.header__lng_active span {
  display: inline-block;
}
.header__lng_active i {
  width: 27px;
  margin-left: 10px;
  display: inline-block;
  border: 1px solid #f5f5f5;
}
.header__lng_dropdown {
  left: 0;
  top: 100%;
  opacity: 0;
  width: 100%;
  z-index: 200;
  display: block;
  visibility: hidden;
  position: absolute;
  background: #f7f9fa;
}
.header__lng_dropdown a {
  width: 100%;
  color: #173249;
  text-align: right;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 15px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.header__lng_dropdown a span {
  display: inline-block;
}
.header__lng_dropdown a i {
  width: 27px;
  margin-left: 10px;
  display: inline-block;
  border: 1px solid #f5f5f5;
}
.header__lng_dropdown a:hover {
  background: #ccc;
}
.header__lng.open .header__lng_dropdown {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 768px) {
  .header {
    padding-top: 30px;
    padding-bottom: 80px;
  }
  .header__top_text {
    display: none;
  }
  .header__top_button {
    display: block;
  }
  .header__logo {
    width: 63px;
  }
  .header__body {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .header__body_image {
    width: 350px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .header__body_content {
    margin-bottom: 0;
    padding-left: 48px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .header__body_title {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 20px;
  }
  .header__body_text {
    display: block;
  }
  .header__button {
    display: none;
  }
  .header__lng {
    display: block;
  }
}
@media (min-width: 992px) {
  .header {
    padding-top: 25px;
    padding-bottom: 90px;
  }
  .header__top {
    margin-bottom: 42px;
  }
  .header__body_image {
    width: 500px;
  }
  .header__body_content {
    padding-top: 15px;
    padding-left: 45px;
  }
  .header__body_title {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 25px;
  }
  .header__body_text {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
@media (min-width: 1200px) {
  .header {
    padding-top: 45px;
    padding-bottom: 165px;
    background-size: cover;
  }
  .header__top {
    margin-bottom: 65px;
  }
  .header__body_image {
    width: 610px;
  }
  .header__body_content {
    padding-top: 40px;
    padding-left: 75px;
  }
  .header__body_title {
    font-size: 3.6rem;
    line-height: 4.5rem;
    margin-bottom: 40px;
  }
}

.about {
  padding-bottom: 20px;
}
.about__text {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 30px;
}
.about__features {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about__features > li {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .about {
    padding-bottom: 50px;
  }
  .about h2 {
    text-align: center;
  }
  .about__text {
    text-align: center;
  }
  .about__features {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .about__features > li {
    width: 33.33%;
    padding: 0 8px;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .about {
    padding-bottom: 50px;
  }
  .about h2 {
    text-align: center;
  }
  .about__text {
    max-width: 910px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0 auto 50px auto;
  }
  .about__features {
    margin: 0 -15px;
  }
  .about__features > li {
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .about {
    padding-bottom: 140px;
  }
  .about h2 {
    text-align: center;
  }
  .about__text {
    margin-bottom: 85px;
  }
  .about__features {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .about__features > li {
    width: 310px;
    padding: 0 15px;
  }
}

.feature {
  position: relative;
  padding-left: 110px;
}
.feature__image {
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  display: block;
  position: absolute;
  background: #f7f9fa;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.feature__image_icon {
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
  display: block;
  position: absolute;
  margin: -25px 0 0 -25px;
}
.feature__heading {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 10px;
}
.feature__text {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .feature {
    padding: 0;
    text-align: center;
  }
  .feature__heading {
    font-size: 1.9rem;
    line-height: 2.4rem;
    margin-bottom: 30px;
  }
  .feature__image {
    top: auto;
    left: auto;
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0 auto 35px auto;
  }
  .feature__image_icon {
    width: 70px;
    height: 70px;
    margin: -35px 0 0 -35px;
  }
}
@media (min-width: 992px) {
  .feature__heading {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 40px;
  }
  .feature__image {
    width: 190px;
    height: 190px;
    margin: 0 auto 45px auto;
  }
  .feature__image_icon {
    width: 90px;
    height: 90px;
    margin: -45px 0 0 -45px;
  }
  .feature__text {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
@media (min-width: 1200px) {
  .feature__heading {
    margin-bottom: 30px;
  }
  .feature__image {
    width: 210px;
    height: 210px;
    margin: 0 auto 50px auto;
  }
  .feature__image_icon {
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
  }
}

.download__content {
  max-width: 360px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
  margin: 0 auto 40px auto;
  padding: 15px 10px 15px 70px;
  border: 1px solid #35ac43;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.download__content_icon {
  top: 28px;
  left: 15px;
  width: 36px;
  position: absolute;
}
.download__button {
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .download {
    margin: 0;
    padding: 20px 0;
    background: #f7f9fa;
  }
  .download__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .download__content {
    width: 460px;
    margin-bottom: 0;
    padding: 23px 10px 23px 70px;
    max-width: inherit;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .download__content_icon {
    top: 22px;
  }
  .download__button {
    display: block;
    text-align: right;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
  .download__button .btn {
    margin: auto 0;
  }
}
@media (min-width: 992px) {
  .download {
    padding: 27px 0;
  }
  .download__content {
    width: 610px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 28px 30px 28px 123px;
  }
  .download__content_icon {
    left: 25px;
    top: 20px;
    width: 60px;
  }
}
@media (min-width: 1200px) {
  .download__row {
    padding-left: 60px;
  }
  .download__button {
    padding-left: 100px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
}

.gray_box {
  padding: 30px 0;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  background: #f7f9fa;
}
@media (min-width: 768px) {
  .gray_box {
    padding: 30px 0;
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  .gray_box {
    padding: 35px 0;
    font-size: 2rem;
    line-height: 3rem;
  }
}

.work {
  padding-top: 45px;
  padding-bottom: 25px;
}
.work h2 {
  margin-bottom: 20px;
}
.work__subtitle {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-bottom: 30px;
}
.work__image {
  margin-bottom: 45px;
}
.work__content {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
}
.work__content ol {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: li;
}
.work__content ol > li {
  min-height: 30px;
  padding-left: 44px;
  position: relative;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.work__content ol > li:before {
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  padding: 5px 0;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.8rem;
  position: absolute;
  text-align: center;
  color: #35ac43;
  display: inline-block;
  border: 1px solid #35ac43;
  content: counter(li);
  counter-increment: li;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.work__content ol > li span {
  margin: auto 0;
  display: inline-block;
}
.work__box {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
  max-width: 360px;
  margin: 40px auto 0 auto;
  padding: 15px 10px 15px 75px;
  border: 1px solid #35ac43;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.work__box_icon {
  top: 24px;
  left: 14px;
  width: 40px;
  display: block;
  position: absolute;
}
@media (min-width: 768px) {
  .work {
    padding-top: 40px;
    padding-bottom: 35px;
  }
  .work h2 {
    text-align: center;
  }
  .work__subtitle {
    text-align: center;
    margin-bottom: 40px;
  }
  .work__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .work__image {
    width: 350px;
    margin-bottom: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .work__content {
    line-height: 1.8rem;
    padding-left: 25px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .work__box {
    width: 320px;
    margin: 40px 0 0 0;
    max-width: inherit;
  }
}
@media (min-width: 992px) {
  .work {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .work__subtitle {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 45px;
  }
  .work__image {
    width: 500px;
  }
  .work__content {
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-left: 40px;
  }
  .work__content ol > li {
    padding-left: 62px;
    margin-bottom: 35px;
    min-height: 40px;
  }
  .work__content ol > li:before {
    top: 0;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .work__box {
    width: 100%;
    line-height: 1.5;
    font-size: 1.6rem;
    margin: 55px 0 0 0;
    max-width: inherit;
    padding: 30px 25px 30px 140px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
  }
  .work__box_icon {
    top: 24px;
    left: 40px;
    width: 60px;
  }
}
@media (min-width: 1200px) {
  .work {
    padding-top: 115px;
    padding-bottom: 75px;
  }
  .work h2 {
    margin-bottom: 30px;
  }
  .work__subtitle {
    margin-bottom: 80px;
  }
  .work__image {
    width: 610px;
  }
  .work__content {
    padding-left: 75px;
  }
  .work__box {
    width: 496px;
    margin: 45px auto 0 auto;
  }
}

.advantage {
  padding-top: 25px;
  padding-bottom: 15px;
}
.advantage h2 {
  margin-bottom: 25px;
}
.advantage__row {
  margin: 0;
  padding: 0;
  font-weight: 500;
  list-style: none;
}
.advantage__row > li {
  margin-bottom: 35px;
}
.advantage__row > li span {
  width: 100%;
  margin: auto 0;
  display: inline-block;
}
.advantage__elem {
  font-size: 1.4rem;
  line-height: 2rem;
  min-height: 31px;
  padding-left: 55px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.advantage__icon {
  top: 0;
  left: 0;
  width: 31px;
  display: block;
  position: absolute;
}
@media (min-width: 768px) {
  .advantage {
    padding-top: 35px;
    padding-bottom: 50px;
    background: #fff url("../img/advantage__bg.svg") 50% 50% no-repeat;
    background-size: contain;
  }
  .advantage h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  .advantage__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .advantage__row > li {
    margin-bottom: 20px;
    width: calc(50% - 22px);
  }
  .advantage__row > li:nth-child(2) .advantage__icon {
    top: 3px;
  }
  .advantage__row > li:nth-child(4) .advantage__icon {
    top: 5px;
  }
}
@media (min-width: 992px) {
  .advantage {
    padding-top: 50px;
    padding-bottom: 55px;
    background-position: 50% 0;
  }
  .advantage h2 {
    margin-bottom: 55px;
  }
  .advantage__row > li {
    margin-bottom: 40px;
    width: calc(50% - 47px);
  }
  .advantage__elem {
    font-size: 1.8rem;
    line-height: 2.2rem;
    min-height: 46px;
    padding-left: 80px;
  }
  .advantage__icon {
    width: 45px;
  }
}
@media (min-width: 1200px) {
  .advantage {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .advantage h2 {
    margin-bottom: 60px;
  }
  .advantage__row > li {
    margin-bottom: 50px;
    width: calc(50% - 80px);
  }
}
@media (min-width: 1600px) {
  .advantage {
    background-size: cover;
  }
}

.info {
  padding-top: 40px;
  padding-bottom: 20px;
}
.info__image {
  display: none;
}
.info__content {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
}
.info__content ul {
  padding: 0;
  list-style: none;
  margin: 0 0 30px 0;
}
.info__content ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
.info__content ul li:last-child {
  margin-bottom: 0;
}
.info__content ul li:before {
  left: 0;
  top: 7px;
  width: 8px;
  height: 8px;
  content: "";
  position: absolute;
  display: inline-block;
  background: #35ac43;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.info h2 {
  margin-bottom: 15px;
}
.info__box {
  max-width: 345px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
  margin: 0 auto 40px auto;
  padding: 15px 15px 15px 75px;
  border: 1px solid #35ac43;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.info__box_icon {
  top: 35px;
  left: 15px;
  width: 40px;
  display: block;
  position: absolute;
}
@media (min-width: 768px) {
  .info {
    padding-top: 65px;
    padding-bottom: 25px;
    background: #fff url("../img/advantage__bg.svg") 50% 50% no-repeat;
    background-size: contain;
  }
  .info h2 {
    margin-bottom: 15px;
  }
  .info__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .info__image {
    width: 180px;
    display: block;
    padding-top: 70px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .info__content {
    padding-left: 48px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .info__content ul {
    margin-bottom: 40px;
  }
  .info__box {
    max-width: inherit;
    padding: 25px 15px 25px 100px;
  }
  .info__box_icon {
    top: 22px;
    left: 25px;
    width: 48px;
  }
}
@media (min-width: 992px) {
  .info {
    padding-top: 85px;
    padding-bottom: 50px;
  }
  .info h2 {
    margin-bottom: 25px;
  }
  .info__image {
    width: 257px;
    padding-top: 40px;
  }
  .info__content {
    font-size: 1.6rem;
    line-height: 2.7rem;
    padding-left: 60px;
  }
  .info__box {
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 25px 45px 25px 140px;
  }
  .info__box_icon {
    left: 44px;
    width: 60px;
  }
}
@media (min-width: 1200px) {
  .info {
    padding-top: 125px;
    padding-bottom: 80px;
  }
  .info__row {
    padding-left: 40px;
  }
  .info__image {
    width: 302px;
    padding-top: 10px;
  }
  .info__content {
    padding-left: 115px;
  }
  .info__content ul {
    margin-bottom: 50px;
  }
  .info__box {
    width: 580px;
    margin: 0 0 60px 0;
  }
}
@media (min-width: 1600px) {
  .info {
    background-size: cover;
  }
}

.app {
  padding-top: 15px;
  padding-bottom: 20px;
  background: url("../img/app__bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.app__heading {
  width: 210px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 20px;
}
.app__text {
  width: 245px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 50px;
}
.app__link {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.app__link li a {
  display: block;
  overflow: hidden;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.app__link li:first-child {
  width: 150px;
  margin-right: 24px;
}
.app__link li:last-child {
  width: 42px;
  margin-right: 24px;
}
@media (min-width: 768px) {
  .app {
    padding-top: 55px;
    padding-bottom: 65px;
  }
  .app__heading {
    width: 335px;
    font-size: 2.6rem;
    line-height: 3.6rem;
    margin-bottom: 30px;
  }
  .app__text {
    width: 480px;
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 65px;
  }
  .app__link li:first-child {
    width: 215px;
    margin-right: 47px;
  }
  .app__link li:last-child {
    width: 61px;
  }
}
@media (min-width: 992px) {
  .app {
    padding-top: 55px;
    padding-bottom: 80px;
  }
  .app__heading {
    width: 450px;
    font-size: 3.4rem;
    line-height: 4.6rem;
    margin-bottom: 65px;
  }
  .app__text {
    width: 600px;
    font-size: 2.6rem;
    line-height: 3.6rem;
    margin-bottom: 65px;
  }
  .app__link li:first-child {
    width: 269px;
    margin-right: 60px;
  }
  .app__link li:last-child {
    width: 76px;
  }
}
@media (min-width: 1200px) {
  .app {
    padding-top: 130px;
    padding-bottom: 170px;
    text-align: center;
  }
  .app__heading {
    width: auto;
    font-size: 4.2rem;
    line-height: 5.2rem;
    margin-bottom: 60px;
  }
  .app__text {
    width: 790px;
    font-size: 3.4rem;
    line-height: 4.4rem;
    margin: 0 auto 80px auto;
  }
  .app__link {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  .app__link li:first-child {
    width: 299px;
    margin: 0 15px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .app__link li:last-child {
    width: 85px;
    margin: 0 15px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

.support {
  width: 100%;
  background: #fff;
  min-height: 100vh;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.support__header {
  padding: 20px 0;
}
.support__header a {
  width: 147px;
  display: block;
}
.support__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.support__main_wrap {
  margin: auto 0;
}
.support__title {
  color: #173249;
  font-weight: 600;
  font-size: 2.3rem;
  line-height: 3.4rem;
  text-align: center;
  margin-bottom: 40px;
}
.support__form_title {
  color: #173249;
  font-weight: 600;
  font-size: 2.3rem;
  line-height: 3.4rem;
  text-align: center;
  margin-bottom: 25px;
}
.support__form_content {
  width: 250px;
  margin: 0 auto;
}
.support__form_content .btn {
  width: 100%;
  margin-top: 10px;
}
.support__form_text {
  padding-top: 15px;
  position: relative;
}

/*# sourceMappingURL=main.css.map */
