.about {
	padding-bottom: 20px;

	&__text {
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2rem;
		margin-bottom: 30px;
	}

	&__features {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			margin-bottom: 40px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 50px;

		h2 {
			text-align: center;
		}

		&__text {
			text-align: center;
		}

		&__features {
			@include flexbox();

			> li {
				width: 33.33%;
				padding: 0 8px;
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 50px;

		h2 {
			text-align: center;
		}

		&__text {
			max-width: 910px;
			font-size: 1.6rem;
			line-height: 2.4rem;
			margin: 0 auto 50px auto;
		}

		&__features {
			margin: 0 -15px;

			> li {
				padding: 0 15px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-bottom: 140px;

		h2 {
			text-align: center;
		}

		&__text {
			margin-bottom: 85px;
		}

		&__features {
			@include justify-content(space-between);

			> li {
				width: 310px;
				padding: 0 15px;
			}
		}
	}
}

.feature {
	position: relative;
	padding-left: 110px;

	&__image {
		top: 0;
		left: 0;
		width: 90px;
		height: 90px;
		display: block;
		position: absolute;
		background: #f7f9fa;
		@include border-radius(50%);


		&_icon {
			top: 50%;
			left: 50%;
			width: 50px;
			height: 50px;
			z-index: 10;
			display: block;
			position: absolute;
			margin: -25px 0 0 -25px;
		}
	}

	&__heading {
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 2.2rem;
		margin-bottom: 10px;
	}

	&__text {
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2rem;
	}

	@media (min-width: $screen-md-min) {
		padding: 0;
		text-align: center;

		&__heading {
			font-size: 1.9rem;
			line-height: 2.4rem;
			margin-bottom: 30px;
		}

		&__image {
			top: auto;
			left: auto;
			width: 150px;
			height: 150px;
			position: relative;
			margin: 0 auto 35px auto;

			&_icon {
				width: 70px;
				height: 70px;
				margin: -35px 0 0 -35px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__heading {
			font-size: 2.4rem;
			line-height: 3rem;
			margin-bottom: 40px;
		}

		&__image {
			width: 190px;
			height: 190px;
			margin: 0 auto 45px auto;

			&_icon {
				width: 90px;
				height: 90px;
				margin: -45px 0 0 -45px;
			}
		}

		&__text {
			font-size: 1.8rem;
			line-height: 2.2rem;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__heading {
			margin-bottom: 30px;
		}

		&__image {
			width: 210px;
			height: 210px;
			margin: 0 auto 50px auto;

			&_icon {
				width: 100px;
				height: 100px;
				margin: -50px 0 0 -50px;
			}
		}
	}
}

.download {

	&__row {

	}

	&__content {
		max-width: 360px;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2rem;
		position: relative;
		margin: 0 auto 40px auto;
		padding: 15px 10px 15px 70px;
		border: 1px solid $color-green;
		@include border-radius(3px);

		&_icon {
			top: 28px;
			left: 15px;
			width: 36px;
			position: absolute;
		}

		&_text {

		}
	}

	&__button {
		display: block;
		text-align: center;
	}

	@media (min-width: $screen-md-min) {
		margin: 0;
		padding: 20px 0;
		background: #f7f9fa;

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}


		&__content {
			width: 460px;
			margin-bottom: 0;
			padding: 23px 10px 23px 70px;
			max-width: inherit;
			@include flex-shrink(0);

			&_icon {
				top: 22px;
			}
		}

		&__button {
			display: block;
			text-align: right;
			@include flex-grow(1);
			@include flexbox();
			@include justify-content(flex-end);

			.btn {
				margin: auto 0;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 27px 0;

		&__content {
			width: 610px;
			font-size: 1.6rem;
			line-height: 2.4rem;
			padding: 28px 30px 28px 123px;

			&_icon {
				left: 25px;
				top: 20px;
				width: 60px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__row {
			padding-left: 60px;
		}

		&__button {
			padding-left: 100px;
			@include justify-content(flex-start);
		}
	}
}

.gray_box {
	padding: 30px 0;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 2rem;
	text-align: center;
	background: #f7f9fa;

	@media (min-width: $screen-md-min) {
		padding: 30px 0;
		font-size: 1.6rem;
	}

	@media (min-width: $screen-lg-min) {
		padding: 35px 0;
		font-size: 2rem;
		line-height: 3rem;
	}
}

.work {
	padding-top: 45px;
	padding-bottom: 25px;

	h2 {
		margin-bottom: 20px;
	}

	&__subtitle {
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2.2rem;
		margin-bottom: 30px;
	}

	&__row {}

	&__image {
		margin-bottom: 45px;
	}

	&__content {
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2rem;

		ol {
			margin: 0;
			padding: 0;
			list-style: none;
			counter-reset:li;

			> li {
				min-height: 30px;
				padding-left: 44px;
				position: relative;
				margin-bottom: 20px;
				@include flexbox();
				@include flex-direction(column);

				&:before {
					top: 0;
					left: 0;
					width: 30px;
					height: 30px;
					padding: 5px 0;
					font-weight: 500;
					font-size: 1.3rem;
					line-height: 1.8rem;
					position: absolute;
					text-align: center;
					color: $color-green;
					display: inline-block;
					border: 1px solid $color-green;
					content:counter(li);
					counter-increment:li;
					@include border-radius(50%);
				}

				span {
					margin: auto 0;
					display: inline-block;
				}
			}
		}
	}

	&__box {
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2rem;
		position: relative;
		max-width: 360px;
		margin: 40px auto 0 auto;
		padding: 15px 10px 15px 75px;
		border: 1px solid $color-green;
		@include border-radius(3px);

		&_icon {
			top: 24px;
			left: 14px;
			width: 40px;
			display: block;
			position: absolute;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 40px;
		padding-bottom: 35px;

		h2 {
			text-align: center;
		}

		&__subtitle {
			text-align: center;
			margin-bottom: 40px;
		}

		&__row {
			@include flexbox();
		}

		&__image {
			width: 350px;
			margin-bottom: 0;
			@include flex-shrink(0);
		}

		&__content {
			line-height: 1.8rem;
			padding-left: 25px;
			@include flex-grow(1);
		}

		&__box {
			width: 320px;
			margin: 40px 0 0 0;
			max-width: inherit;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 80px;
		padding-bottom: 50px;

		&__subtitle {
			font-size: 1.8rem;
			line-height: 2.4rem;
			margin-bottom: 45px;
		}

		&__image {
			width: 500px;
		}

		&__content {
			font-size: 1.6rem;
			line-height: 2.2rem;
			padding-left: 40px;

			ol {

				> li {
					padding-left: 62px;
					margin-bottom: 35px;
					min-height: 40px;

					&:before {
						top: 0;
						width: 40px;
						height: 40px;
						padding: 9px 0;
						font-size: 1.8rem;
						line-height: 2rem;

					}
				}
			}
		}


		&__box {
			width: 100%;
			line-height: 1.5;
			font-size: 1.6rem;
			margin: 55px 0 0 0;
			max-width: inherit;
			padding: 30px 25px 30px 140px;
			@include border-radius(5px);

			&_icon {
				top: 24px;
				left: 40px;
				width: 60px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 115px;
		padding-bottom: 75px;

		h2 {
			margin-bottom: 30px;
		}

		&__subtitle {
			margin-bottom: 80px;
		}

		&__image {
			width: 610px;
		}

		&__content {
			padding-left: 75px;
		}

		&__box {
			width: 496px;
			margin: 45px auto 0 auto;
		}
	}

}

.advantage {
	padding-top: 25px;
	padding-bottom: 15px;

	h2 {
		margin-bottom: 25px;
	}

	&__row {
		margin: 0;
		padding: 0;
		font-weight: 500;
		list-style: none;

		> li {
			margin-bottom: 35px;

			span {
				width: 100%;
				margin: auto 0;
				display: inline-block;
			}
		}
	}

	&__elem {
		font-size: 1.4rem;
		line-height: 2rem;
		min-height: 31px;
		padding-left: 55px;
		position: relative;
		@include flexbox();
		@include flex-direction(column);
	}

	&__icon {
		top: 0;
		left: 0;
		width: 31px;
		display: block;
		position: absolute;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 35px;
		padding-bottom: 50px;
		background: #fff url("../img/advantage__bg.svg") 50% 50% no-repeat;
		background-size: contain;

		h2 {
			text-align: center;
			margin-bottom: 40px;
		}

		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			> li {
				margin-bottom: 20px;
				width: calc(50% - 22px);

				&:nth-child(1) {

					.advantage__icon {

					}
				}

				&:nth-child(2) {

					.advantage__icon {
						top: 3px;
					}
				}

				&:nth-child(3) {

					.advantage__icon {

					}
				}

				&:nth-child(4) {

					.advantage__icon {
						top: 5px;
					}
				}
			}
		}

	}

	@media (min-width: $screen-lg-min) {
		padding-top: 50px;
		padding-bottom: 55px;
		background-position: 50% 0;


		h2 {
			margin-bottom: 55px;
		}

		&__row {

			> li {
				margin-bottom: 40px;
				width: calc(50% - 47px);

			}
		}

		&__elem {
			font-size: 1.8rem;
			line-height: 2.2rem;
			min-height: 46px;
			padding-left: 80px;
		}

		&__icon {
			width: 45px;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 75px;
		padding-bottom: 75px;

		h2 {
			margin-bottom: 60px;
		}

		&__row {

			> li {
				margin-bottom: 50px;
				width: calc(50% - 80px);
			}
		}
	}

	@media (min-width: 1600px) {
		background-size: cover;
	}
}

.info {
	padding-top: 40px;
	padding-bottom: 20px;

	&__row {

	}

	&__image {
		display: none;
	}

	&__content {
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2rem;

		ul {
			padding: 0;
			list-style: none;
			margin: 0 0 30px 0;

			li {
				position: relative;
				padding-left: 20px;
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}

				&:before {
					left: 0;
					top: 7px;
					width: 8px;
					height: 8px;
					content: '';
					position: absolute;
					display: inline-block;
					background: $color-green;
					@include border-radius(50%);
				}
			}
		}
	}

	h2 {
		margin-bottom: 15px;
	}

	&__box {
		max-width: 345px;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2rem;
		position: relative;
		margin: 0 auto 40px auto;
		padding: 15px 15px 15px 75px;
		border: 1px solid $color-green;
		@include border-radius(3px);

		&_icon {
			top: 35px;
			left: 15px;
			width: 40px;
			display: block;
			position: absolute;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 65px;
		padding-bottom: 25px;
		background: #fff url("../img/advantage__bg.svg") 50% 50% no-repeat;
		background-size: contain;

		h2 {
			margin-bottom: 15px;
		}

		&__row {
			@include flexbox();
		}

		&__image {
			width: 180px;
			display: block;
			padding-top: 70px;
			@include flex-shrink(0);
		}

		&__content {
			padding-left: 48px;
			@include flex-grow(1);

			ul {
				margin-bottom: 40px;
			}
		}

		&__box {
			max-width: inherit;
			padding: 25px 15px 25px 100px;

			&_icon {
				top: 22px;
				left: 25px;
				width: 48px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 85px;
		padding-bottom: 50px;

		h2 {
			margin-bottom: 25px;
		}

		&__image {
			width: 257px;
			padding-top: 40px;
		}

		&__content {
			font-size: 1.6rem;
			line-height: 2.7rem;
			padding-left: 60px;
		}

		&__box {
			font-size: 1.6rem;
			line-height: 2.4rem;
			padding: 25px 45px 25px 140px;

			&_icon {
				left: 44px;
				width: 60px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 125px;
		padding-bottom: 80px;

		&__row {
			padding-left: 40px;
		}

		&__image {
			width: 302px;
			padding-top: 10px;
		}

		&__content {
			padding-left: 115px;

			ul {
				margin-bottom: 50px;
			}
		}

		&__box {
			width: 580px;
			margin: 0 0 60px 0;
		}
	}

	@media (min-width: 1600px) {
		background-size: cover;
	}
}

.app {
	padding-top: 15px;
	padding-bottom: 20px;
	background: url("../img/app__bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&__heading {
		width: 210px;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 20px;
	}

	&__text {
		width: 245px;
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 2rem;
		margin-bottom: 50px;
	}

	&__link {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();

		li {

			a {
				display: block;
				overflow: hidden;
				@include border-radius(6px);
			}

			&:first-child {
				width: 150px;
				margin-right: 24px;
			}

			&:last-child {
				width: 42px;
				margin-right: 24px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 55px;
		padding-bottom: 65px;

		&__heading {
			width: 335px;
			font-size: 2.6rem;
			line-height: 3.6rem;
			margin-bottom: 30px;
		}

		&__text {
			width: 480px;
			font-size: 2rem;
			line-height: 2.8rem;
			margin-bottom: 65px;
		}

		&__link {

			li {

				&:first-child {
					width: 215px;
					margin-right: 47px;
				}

				&:last-child {
					width: 61px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 55px;
		padding-bottom: 80px;

		&__heading {
			width: 450px;
			font-size: 3.4rem;
			line-height: 4.6rem;
			margin-bottom: 65px;
		}

		&__text {
			width: 600px;
			font-size: 2.6rem;
			line-height: 3.6rem;
			margin-bottom: 65px;
		}

		&__link {

			li {

				&:first-child {
					width: 269px;
					margin-right: 60px;
				}

				&:last-child {
					width: 76px;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 130px;
		padding-bottom: 170px;
		text-align: center;

		&__heading {
			width: auto;
			font-size: 4.2rem;
			line-height: 5.2rem;
			margin-bottom: 60px;
		}

		&__text {
			width: 790px;
			font-size: 3.4rem;
			line-height: 4.4rem;
			margin: 0 auto 80px auto;
		}

		&__link {
			@include justify-content(center);

			li {

				&:first-child {
					width: 299px;
					margin: 0 15px;
					@include order(2);
				}

				&:last-child {
					width: 85px;
					margin: 0 15px;
					@include order(1);
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}
