.support {
	width: 100%;
	background: #fff;
	min-height: 100vh;
	padding-bottom: 70px;
	@include flexbox();
	@include flex-direction(column);

	&__header {
		padding: 20px 0;

		a {
			width: 147px;
			display: block;
		}
	}

	&__main {
		@include flexbox();
		@include flex-grow(1);
		@include flex-direction(column);

		&_wrap {
			margin: auto 0;
		}
	}

	&__title {
		color: #173249;
		font-weight: 600;
		font-size: 2.3rem;
		line-height: 3.4rem;
		text-align: center;
		margin-bottom: 40px;
	}

	&__form {

		&_title {
			color: #173249;
			font-weight: 600;
			font-size: 2.3rem;
			line-height: 3.4rem;
			text-align: center;
			margin-bottom: 25px;
		}

		&_content {
			width: 250px;
			margin: 0 auto;

			.btn {
				width: 100%;
				margin-top: 10px;
			}
		}

		&_text {
			padding-top: 15px;
			position: relative;
		}
	}
}