.header {
	padding-top: 25px;
	padding-bottom: 45px;
	background: #fff url("../img/header__bg.svg") 50% 100% no-repeat;

	&__logo {
		width: 50px;
	}

	&__top {
		margin-bottom: 30px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		&_left {

		}

		&_right {
			padding-top: 5px;
			padding-left: 30px;
		}

		&_text {
			max-width: 240px;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2rem;
		}

		&_button {
			display: none;
		}
	}

	&__body {
		margin-bottom: 35px;
		@include flexbox();
		@include flex-direction(column);

		&_image {
			@include order(2);
		}

		&_content {
			margin-bottom: 20px;
			@include order(1);
		}

		&_title {
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.2rem;
		}

		&_text {
			display: none;
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.4rem;
		}
	}

	&__button {
		text-align: center;
	}

	&__lng {
		z-index: 200;
		width: 210px;
		font-size: 0;
		display: none;
		line-height: 0;
		position: relative;

		&_active {
			width: 100%;
			height: 40px;
			padding: 10px;
			cursor: pointer;
			font-weight: 500;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: right;
			@include flexbox();
			@include align-items(center);
			@include justify-content(flex-end);

			span {
				display: inline-block;
			}

			i {
				width: 27px;
				margin-left: 10px;
				display: inline-block;
				border: 1px solid #f5f5f5;
			}
		}

		&_dropdown {
			left: 0;
			top: 100%;
			opacity: 0;
			width: 100%;
			z-index: 200;
			display: block;
			visibility: hidden;
			position: absolute;
			background: #f7f9fa;

			a {
				width: 100%;
				color: #173249;
				text-align: right;
				font-weight: 500;
				font-size: 1.6rem;
				line-height: 2rem;
				padding: 15px 10px;
				@include flexbox();
				@include align-items(center);
				@include justify-content(flex-end);

				span {
					display: inline-block;
				}

				i {
					width: 27px;
					margin-left: 10px;
					display: inline-block;
					border: 1px solid #f5f5f5;
				}

				&:hover {
					background: #ccc;
				}
			}
		}

		&.open {

			.header__lng_dropdown {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 30px;
		padding-bottom: 80px;

		&__top {

			&_text {
				display: none;
			}

			&_button {
				display: block;
			}
		}

		&__logo {
			width: 63px;
		}

		&__body {
			@include flex-direction(row);

			&_image {
				width: 350px;
				@include order(1);
				@include flex-shrink(0);
			}

			&_content {
				margin-bottom: 0;
				padding-left: 48px;
				@include order(2);
				@include flex-grow(1);
			}

			&_title {
				font-size: 2.4rem;
				line-height: 3rem;
				margin-bottom: 20px;
			}

			&_text {
				display: block;
			}
		}

		&__button {
			display: none;
		}

		&__lng {
			display: block;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 25px;
		padding-bottom: 90px;

		&__top {
			margin-bottom: 42px;
		}

		&__body {

			&_image {
				width: 500px;
			}

			&_content {
				padding-top: 15px;
				padding-left: 45px;
			}

			&_title {
				font-size: 3.2rem;
				line-height: 4rem;
				margin-bottom: 25px;
			}

			&_text {
				font-size: 2.4rem;
				line-height: 3.2rem;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 45px;
		padding-bottom: 165px;
		background-size: cover;

		&__top {
			margin-bottom: 65px;
		}

		&__body {

			&_image {
				width: 610px;
			}

			&_content {
				padding-top: 40px;
				padding-left: 75px;
			}

			&_title {
				font-size: 3.6rem;
				line-height: 4.5rem;
				margin-bottom: 40px;
			}
		}
	}
}