
.btn {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 20px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	background: $color-green;
	padding: 11px 20px 9px 20px;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;

	@include border-radius(20px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #5aac5a;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	&:active {
		background: $color-green;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 1.6rem;
		padding: 16px 24px 14px 24px;
		@include border-radius(25px);
	}
}

.btn_md {
	padding: 16px 20px 14px 20px;
	@include border-radius(25px);
}