.form_control {
	margin: 0;
	width: 100%;
	height: 54px;
	outline: none;
	color: #173249;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 2rem;
	padding: 16px 20px;
	background: #e8edf0;
	display: inline-block;
	border: 1px solid #e8edf0;
	@include placeholder(#173249);
	@include border-radius(27px);


	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}

	&.error {
		border-color: #c90000;
	}
}

.form_group {
	margin-bottom: 10px;
}

.form_error {
	top: 100%;
	left: 0;
	right: 0;
	color: #c90000;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 2rem;
	text-align: center;
	position: absolute;
}